.product-card-container{
    width: 268px;
    top: 790px;
    left: 420px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
}

.product-card-container .view-product{
    width: 268px;
    background-color: #165315;
    color: #FFFFFF;
    width: 268px;
    height: 36px;
    top: 1074px;
    left: 1040px;
    gap: 0px;
    opacity: 0px;
    border: none;
}

.plant-img{
    width: 255px;
    height: 246px;
    top: 1364px;
    left: 427px;
    gap: 0px;
    opacity: 0px;
}

.strike{
width: 44px;
height: 24px;
top: 89px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #5E5A5AB2;
text-align: center;
text-decoration: line-through;

}

.strike-icon{
    font-size: 12px;
    text-decoration: line-through;
}

.cart-button{
width: 149px;
height: 37px;
top: 123px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
background-color:  #165315;
border: none;
color: #FFF;
cursor: pointer;
}

.rent-button{
width: 114px;
height: 37px;
top: 123px;
left: 154px;
gap: 0px;
border-radius: 10px;
border: 1px solid #165315;
opacity: 0px;
background-color: transparent;
color: #165315;
margin-left: 0.3em;
cursor: pointer;

}

.heart-icon{
    width: Hug (45px)px;
height: Hug (43.08px)px;
top: 790px;
left: 643px;
padding: 10px 0px 0px 0px;
gap: 10px;
opacity: 0px;
font-size: 30px;
align-self: right;
cursor: pointer;

}

.image-heart-conatiner{
    display: flex;
}

.plant-img{
    align-self: center;
}